.event-container {
    /*flex: 1;*/
}

.event-container img {
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 450px;
}

@media (max-width: 1000px) {

    .home-carousel-container img {
        width: 100%;
        height: 100%;
    }
}